/* troi 09.10.2017 */


/* ------------------------------------------------
09.09.17 Troi
------------------------------------------------ */
.single-product .bike-details:first-child > img {
  max-width: 100%;
  max-height: 100%;

  width: 90%;
  margin: auto;
  display: block;
}

.single-product .bike-colors.mobile-colors {
  width: 100%;
}

.single-product .bike-details {
  height: auto;
  flex-wrap: wrap;
}

.single-product .bike-details-container .nav-tabs a {
  width: 100%;
}

.single-product .bike-details-container .price-tabs {
  width: 100%;
}

@media only screen and (max-width : 480px) {
  .single-product .avia_codeblock {
    padding-left: 15px;
    padding-right: 15px;
  }

  .single-product .hide-mobile {
    display:none;
  }

  .single-product .bike-details-container .price-tabs {
    padding-left: 20px;
    padding-right: 20px;
  }
  .single-product .bike-details-container .nav-tabs {
    display: flex;
  }
  .single-product .bike-details-container .nav-tabs .pill {
    width: 50%;
    text-align: center;
    padding: 2px;
    margin: 0;
  }
  .single-product .bike-details-container .nav-tabs a {
    display: inline-block;
    width: 100%;
    max-width: 135px;
    margin: 0;
  }


  .single-product .bike-details-container .price-tabs h1 {
    font-size: 3em;
  }  
  .bike-details .responsive-break  {
    display: block;
  }

}

@media only screen and (min-width : 375px) {
  .single-product .bike-details-container .nav-tabs a {
    max-width: 145px;
  } 
}


@media only screen and (min-width : 481px) {
  .single-product .bike-colors.mobile-colors {
    display: none;
  }
}

@media only screen and (min-width : 768px) {
  
}



@media only screen and (min-width : 992px) {
  .single-product .bike-details {
    padding-top: 82px;
    padding-bottom: 40px;
  }

  .single-product .bike-details-container .nav-tabs {
    display: flex;
    width: 100%;
  }
  .single-product .bike-details-container .nav-tabs .pill {
    flex-grow: 1;
  }
  .single-product .bike-details-container .nav-tabs .pill:first-child {
    margin-right: 10px;
  }
  .single-product .bike-details-container .nav-tabs a {
    font-size: .8em;
    padding-top: .2em;
  }  
  .single-product .bike-details-container .price-tabs h1 {
    font-size: 3vw;
  }
  .single-product .bike-details-container .price-tabs h1 .sup {
    font-size: .45em;
  }

  .build-yours{
    padding: 15px 25px !important;
  }

  
}

@media only screen and (min-width : 1200px) {
  .single-product .bike-details-container .nav-tabs a {
    font-size: 1em;
    padding-top: 0;
  }
  .single-product .bike-details-container .price-tabs h1 {
    font-size: 2.7em;
  }  

}