.flag-icon,.flag-icon-background {
	background-repeat:no-repeat;
	background-size:contain;
	background-position:50%
}
.flag-icon {
	position:relative;
	display:inline-block;
	width:1.33333333em;
	line-height:1em;
	font-size: 20px;
	vertical-align: middle;
}
.flag-icon:before {
	content:"\00a0"
}
.flag-icon-us {
	background-image:url(../images/flags/en.svg)
}


.flag-icon-fr {
	background-image:url(../images/flags/fr.svg)
}


