@font-face {
  font-family: 'Wavehaus 128 Bold';
  src: url('../fonts/Wavehaus-128Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Wavehaus-128Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Wavehaus-128Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Wavehaus-128Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Wavehaus-128Bold.svg#bc467dd9a15ba4b547d2863bdf1d0f2b') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Wavehaus 158 ExtraBold';
  src: url('../fonts/Wavehaus-158ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Wavehaus-158ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Wavehaus-158ExtraBold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Wavehaus-158ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Wavehaus-158ExtraBold.svg#1b9dfff6060d8e28a229a0c2120ac217') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Wavehaus 28 Thin';
  src: url('../fonts/Wavehaus-28Thin.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Wavehaus-28Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Wavehaus-28Thin.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Wavehaus-28Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Wavehaus-28Thin.svg#4507b8f7933e742558d1a8fb4f692d92') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Wavehaus 42 Light';
  src: url('../fonts/Wavehaus-42Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Wavehaus-42Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Wavehaus-42Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Wavehaus-42Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Wavehaus-42Light.svg#2e87e687c87ed02173b79a229d8b11af') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Wavehaus 66 Book';
  src: url('../fonts/Wavehaus-66Book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Wavehaus-66Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Wavehaus-66Book.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Wavehaus-66Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Wavehaus-66Book.svg#6a7c580d9e57793a09353f7448d0bd67') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Wavehaus 95 SemiBold';
  src: url('../fonts/Wavehaus-95SemiBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Wavehaus-95SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Wavehaus-95SemiBold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Wavehaus-95SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Wavehaus-95SemiBold.svg#d586d799cc1efca52e4b9442ad41baa6') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

