/* .features {
     background-color: #f6f6f6;  
} */

/* -----------------------------------------------
Page-specific overrides
----------------------------------------------- */
#page-bikes header {
  background-color: #fbfbfb; 
  background-image:none;
  position: relative;
  padding-bottom: 60px;
}

.single-product .masonry{
  padding-top: 0;
}
.single-product .navbar{
  background-color: #fff;
}

.single-product .avia_code_block_0 {
  background: #f1f1f1;
  background: -moz-linear-gradient(top, #f1f1f1 0%, #fbfbfb 100%);
  background: -webkit-linear-gradient(top, #f1f1f1 0%,#fbfbfb 100%);
  background: linear-gradient(to bottom, #f1f1f1 0%,#fbfbfb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#fbfbfb',GradientType=0 );
}
/*.single-product .menu-item-5330 {
  background-color: #10dfee;
}*/


#page-bikes .hero{
  background: url(../images/bike-hero-bg.jpg) repeat-x;
}

.features > div {
  display: flex; 
  position: relative;
}

.features > div:nth-child(even) {
  flex-flow: row-reverse;
}

.feature-content {
  background-color: #f6f6f6;  
  width: 50%;
  padding: 50px 90px;
  min-height: 50vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-size: 1em; /*  August 1, 2017  */
}

.feature-content h1{
  font-size: 3.5em;  /*  August 1, 2017  */
}
/* -----------------------------------------------
Background colors
----------------------------------------------- */
.electric {
  background-color: #10dfee; 
}
.saddle {
  background-color: #78f59e;
}
.comfort {
  background-color: #f56c6c;
}
.safety {
  background-color: #e3e3e3;
} 

/* -----------------------------------------------
Background images
----------------------------------------------- */
.feature-image,
.feature-image > div {
  position: absolute;
  height: 100%
}

.electric .feature-image {
  background: transparent url(../images/page-bikes/feature-electric.png) no-repeat right top;
  background-size: contain;
  width: 50%; 
  top: 0;
  right: 0;   
}

.comfort .feature-image {
  background: transparent url(../images/page-bikes/feature-comfort.png) no-repeat left center;
  background-size: contain;
  width: 50%; 
  top: 0;
  right: 0;   
}

.saddle .feature-image,
.safety .feature-image {
  width: 100%;
}

.saddle .feature-image,
.saddle .feature-image > div,
.safety .feature-image,
.safety .feature-image > div  {
  top: 0;
  left: 0;
}
 .saddle .feature-image .layer1 {
  background: transparent url(../images/page-bikes/feature-saddle-1.png) no-repeat center bottom;
  background-size: 100% auto; 
  width: 50%;
} 
.saddle .feature-image .layer2 {
  background: transparent url(../images/page-bikes/feature-saddle-2.png) no-repeat left top;
  background-size: 100% auto; 
  width: 65%;
}


.safety .feature-image .layer1 {
  background: transparent url(../images/page-bikes/feature-safety.png) no-repeat left bottom;
  background-size: 100% auto; 
  top: 0;
  left: 0;
  width: 55%;    
}   

/* Hero */

.bike-details-container{
  width: 90%;
  margin: auto;
}

.bike-details{
  height: 100%;
}

.bike-details .tab-pane p{
  width: 80%;
}

.price-tabs{
display: block;
padding-left: 25px;
}

.nav-tabs>li>a{
  opacity:.5;
  font-size: 1.2em;
  padding: 0;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover{
color: #3b3533;
cursor: default;
background-color: transparent;
  border: none;
  opacity:1;
}
.nav-tabs{
  border-bottom: none;
}
.nav-tabs li{
  padding: 0;
  width: 32%;
  border: 1px solid #ccc;
  text-align: center;
  margin-right: 5px;
}
.nav-tabs li:first-child{
  
}
.nav-tabs li:first-child a{

}
.nav-tabs li:last-child{
  text-align: center
}
.nav-tabs li:last-child a{
  
}
.tab-pane h1{
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 2.9em;
  white-space: nowrap;
}

.test-ride {
  padding: 10px 20px;
  border: 2px solid #10dfee;
  border-radius: 34px;
}

.test-ride:hover {
  background :#10dfee;
  color: #fff !important;
  text-decoration: none;
}

.specs{
  display: block;
  margin: 30px 0;
}

.specs i{
  font-size: 16px !important;
  vertical-align: sub;
}
.specs{
  font-size: 10px;
}

.bike-colors{
  margin-bottom: 35px;
}

.bike-colors li{
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50%;
  /*border: 2px solid #fbfbfb;*/
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
}

.bike-colors li:hover{
  border-color: #10dfee;
}

#bike-color-image{

}

.bike-color-white{
  background: rgb(235,241,247);
  background: -moz-linear-gradient(top, rgba(235,241,247,1) 0%, rgba(235,241,247,1) 79%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(235,241,247,1) 0%,rgba(235,241,247,1) 79%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(235,241,247,1) 0%,rgba(235,241,247,1) 79%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f7', endColorstr='#ffffff',GradientType=0 );
  border: 1px solid #ccc;
}
.bike-color-gun{
  background: rgb(135,136,137);
  background: -moz-linear-gradient(top, rgba(135,136,137,1) 0%, rgba(188,193,200,1) 79%, rgba(179,179,179,1) 80%, rgba(179,179,179,1) 100%);
  background: -webkit-linear-gradient(top, rgba(135,136,137,1) 0%,rgba(188,193,200,1) 79%,rgba(179,179,179,1) 80%,rgba(179,179,179,1) 100%);
  background: linear-gradient(to bottom, rgba(135,136,137,1) 0%,rgba(188,193,200,1) 79%,rgba(179,179,179,1) 80%,rgba(179,179,179,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#878889', endColorstr='#b3b3b3',GradientType=0 );
}
.bike-color-black{
  background: rgb(0,1,2);
  background: -moz-linear-gradient(top, rgba(0,1,2,1) 0%, rgba(129,135,140,1) 79%, rgba(97,97,97,1) 80%, rgba(97,97,97,1) 100%);
  background: -webkit-linear-gradient(top, rgba(0,1,2,1) 0%,rgba(129,135,140,1) 79%,rgba(97,97,97,1) 80%,rgba(97,97,97,1) 100%);
  background: linear-gradient(to bottom, rgba(0,1,2,1) 0%,rgba(129,135,140,1) 79%,rgba(97,97,97,1) 80%,rgba(97,97,97,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000102', endColorstr='#616161',GradientType=0 );
}
.bike-color-blue{
  background: rgb(10,166,234);
  background: -moz-linear-gradient(top, rgba(10,166,234,1) 0%, rgba(106,205,249,1) 79%, rgba(46,157,252,1) 80%, rgba(46,157,252,1) 100%);
  background: -webkit-linear-gradient(top, rgba(10,166,234,1) 0%,rgba(106,205,249,1) 79%,rgba(46,157,252,1) 80%,rgba(46,157,252,1) 100%);
  background: linear-gradient(to bottom, rgba(10,166,234,1) 0%,rgba(106,205,249,1) 79%,rgba(46,157,252,1) 80%,rgba(46,157,252,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0aa6ea', endColorstr='#2e9dfc',GradientType=0 );
}
.bike-color-orange{
  background: rgb(236,112,10);
  background: -moz-linear-gradient(top, rgba(236,112,10,1) 0%, rgba(249,169,104,1) 79%, rgba(237,90,0,1) 80%, rgba(237,90,0,1) 100%);
  background: -webkit-linear-gradient(top, rgba(236,112,10,1) 0%,rgba(249,169,104,1) 79%,rgba(237,90,0,1) 80%,rgba(237,90,0,1) 100%);
  background: linear-gradient(to bottom, rgba(236,112,10,1) 0%,rgba(249,169,104,1) 79%,rgba(237,90,0,1) 80%,rgba(237,90,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec700a', endColorstr='#ed5a00',GradientType=0 );
}

.detailed-spec{
  width: 40%;
  height: 100%;
  background: rgba(255,255,255,.95);
  position: absolute;
  right: -40%;
  top: 0;
  margin-top: 60px;
  padding: 25px 45px;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}

.detailed-spec.show-specs{
  right: 0%;
}

.close-spec{
  text-align: right; 
}

.detailed-spec button{
  background-color: transparent;
  border: none;
  outline: 0;
}
.detailed-spec li{
  margin: 2px 0;
}



/* all Phones */
@media only screen and (max-width: 767px) {
  .feature-content {
    justify-content: flex-start;
    min-height: 1px;
  }
  .single-product .title-normal {
    font-size: 2.7em;
    line-height: 1;
    font-family: 'Wavehaus 158 ExtraBold';
    margin-bottom: .3em;
  }
  .single-product .features .feature-image {
    height: 50vh;
    background-size: cover;
    /* width: 100%; */
  }
  .single-product .electric .feature-image {
    background-position: left top;
  }


  /*.single-product .feature-image {
    width: 100%;
  }*/
}
