/* -- Presets -- */
*{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-shadow:none;text-rendering:optimizeLegibility;}
body,html{ font-family: 'Wavehaus 66 Book', sans-serif; color: #000000; margin: 0; padding: 0; letter-spacing: .5px; }
svg{width: 100%;}

.pad{padding: 44px 38px;} 
.ulist{list-style: none;padding: 0;} 
.inline{display: inline-block; } 
.float-left{float: left; position: relative;} 
.flex-start {display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; align-items: flex-start; -ms-flex-align: flex-start; } 
.flex-center {display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; align-items: center; -ms-flex-align: center; } 
.flex-end {display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; align-items: flex-end; -ms-flex-align: flex-end; } 
.flex-center-justify {display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; align-items: center; -ms-flex-align: center; justify-content: center;} 
.flex-end-justify {display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; align-items: flex-end; -ms-flex-align: flex-end; justify-content: center;} 
.flex-end-end {display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; align-items: flex-end; -ms-flex-align: flex-end; justify-content: flex-end;} 

/* Text */

h1 { margin: 0 0 .5em 0; font-size: 3.5em; }
h2 { margin: 0 0 .5em 0; font-size: 1.6em; line-height: 1.1em}
h3 { margin: 0 0 1em 0; font-size: 1.3em; }
h4 { margin: 0 0 1em 0; font-size: 1em; }

p { margin: 0 0 1em 0; }
a { color:#000; animation: fadeIn 1s alternate;}
a:visited { color:#000; }

.white-text{color: #fff !important; } 
.teal-text{color: #10dfee !important; } 
.black-text{color:#000000 !important; } 
.brown-text{color: #3c3533 !important;}
.grey-text{color: #6d6e71 !important;}
.uppercase{text-transform: uppercase; } 
.lowercase{text-transform: lowercase; } 
.sub-text-normal{font-size: 18px; } 
.sub-text-big{font-size: 32px; } 
.sub-text-small{font-size: 14px; } 
.percent{font-size: 64%; }
.title-big{font-size: 7em;line-height: 0.25;text-indent: 15px;letter-spacing: 6px;} 
.title-normal{font-size: 4em; letter-spacing: .6px;} 
.text-book{ font-family: 'Wavehaus 66 Book'; }
.text-light{ font-family: 'Wavehaus 42 Light'; }
.text-thin{ font-family: 'Wavehaus 28 Thin'; }
.text-semibold{ font-family: 'Wavehaus 95 SemiBold'; }
.text-bold{ font-family: 'Wavehaus 128 Bold'; }
.text-extrabold{ font-family: 'Wavehaus 158 ExtraBold'; }
.border-top-teal{border-top: 1px solid #10dfee;}
.no-border{border:none !important;}

/* Buttons */

.pill{ border-radius: 14px; -webkit-transition: all .3s ease-out ; -moz-transition: all .3s ease-out ; -ms-transition: all .3s ease-out ; -o-transition: all .3s ease-out ; transition: all .3s ease-out ;}
.pill-lg{ border-radius: 24px; -webkit-transition: all .3s ease-out ; -moz-transition: all .3s ease-out ; -ms-transition: all .3s ease-out ; -o-transition: all .3s ease-out ; transition: all .3s ease-out ;}

/* Header */

header{background: #45cdea url(../images/hero-bg.png) no-repeat center top;background-size: 60%;position: relative;padding-bottom: 60px;}
