/* Stylesheet */
#main{
	overflow-x:hidden;
	position:relative;
}
.hero{
	width: 100%;
	min-height: 100%;
	background: url(../images/bike-hero-bg.jpg) repeat-x;
}

.hero-container{
	text-align: center;
}

.hero-carousel .item img{
	width: 65%;
	margin: auto;
	padding-left: 5%;
}

.menu a{
	font-size: 10px;
	letter-spacing: .4px;
}

.book a{
	background: #1ceafa;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-top: 15px;
	margin-bottom: 15px;

}
.shopping-cart{
	padding: 10px 15px 10px 15px;
}
.cart-icon a{
	padding: 10px 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.cart-icon img{
	width: 20px;
	height: 20px;
}
#back-to-top{
display: none;
}

/* Ebikes Menu */

.ebikes a{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-top:15px;
	margin-bottom:15px;
}
.ebikes-menu{
	background: rgba(255, 255, 255, 0.5);
	text-align: center;
	height: 0;
	-webkit-transition: all .25s ease-out;
	   -moz-transition: all .25s ease-out;
	    -ms-transition: all .25s ease-out;
	     -o-transition: all .25s ease-out;
	        transition: all .25s ease-out;
	overflow: hidden;
}


.ebikes-menu li{
	padding: 10px; /* August 1, 2017 */
}

.ebikes-menu.open-speed{
	height: 70px; /* August 1, 2017 */
}

/* End: Ebikes Menu */

.hero-button .pill-lg{
	border: 1px solid #fff;
	min-width: 200px;
	position: relative;
	margin: 0 5px 5px 5px;
}

.hero-button .pill-lg:hover{
	background: #1ceafa;
	border: 1px solid #1ceafa;
}

.hero-button .pill-lg a{
	padding: 15px;
	display: block;
}

.hero-button .pill-lg a:hover{
	text-decoration: none;
}

/* Slide 1 */

.slide1{

	background: rgb(59,255,116);
	background: -moz-linear-gradient(top, rgba(59,255,116,1) 0%, rgba(20,255,92,1) 100%);
	background: -webkit-linear-gradient(top, rgba(59,255,116,1) 0%,rgba(20,255,92,1) 100%);
	background: linear-gradient(to bottom, rgba(59,255,116,1) 0%,rgba(20,255,92,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bff74', endColorstr='#14ff5c',GradientType=0 );
	padding: 35px 0 0 0;
	position: relative;
	overflow: hidden;
	height: 690px;
}

.s1-container{
	text-align: center;
}

.s1-container h1{
	margin-bottom: 30px;
}


.s1-content h4{
	font-size: 12px;
	text-align: center;
	border: 1px solid #000;
	width: 8%;
	display: block;
	padding: 5px 0;
	margin: 20px auto 20px auto;
}

.s1-content .s1-copy{
	text-align: center;
	width: 55%;
	margin: 20px auto;
}

.s1-icons{
	text-align: center;
}

.s1-icons img{
	width: 15%;
}

.s1-bike img{
	width: 100%;
	padding-left: 12%;
}

.s1-content{
	position: absolute;
	top: 0;
	left:0;
}

.s1-controls{
	position: absolute;
	right: 60px;
}

.s1-controls ul{
	list-style: none;
}

.s1-controls li span{
	display: inline-block;
	vertical-align: middle;
}

.control-names{
	min-width: 70px;
	text-align: right;
	opacity:0;
	-webkit-transition: opacity .25s ease-out;
	   -moz-transition: opacity .25s ease-out;
	    -ms-transition: opacity .25s ease-out;
	     -o-transition: opacity .25s ease-out;
	        transition: opacity .25s ease-out;
}

.btn-controls{
	width: 7px;
	height: 7px;
	margin-top: 7px;
	margin-bottom: 7px;
	border-radius: 50%;
	background: #666;
	cursor:pointer;
	opacity:0.6;
}

.slider2-icon img{
	width:5%;
}

.showname{
	opacity:1;
}

/* Slide 2 */

.slide2{
	padding: 0;
}

.s2-container{
	text-align: center;
	position: absolute;
	width: 100%;
	margin-top: 30px;
}

.s2-container h1{
	margin-bottom: 30px;
}

.slide2 h4{
	font-size: 12px;
	text-align: center;
	border: 1px solid #000;
	width: 8%;
	display: block;
	padding: 5px 0;
	margin: 20px auto 20px auto;
}

.slide2 .s2-copy{
	text-align: center;
	width: 55%;
	margin: 20px auto;
}

.s2-icons{
	text-align: center;
}

.s2-icons img{
	width: 3%;
}

.s2-bike img{
	width: 100%;
}

/* Apps | Phone*/

.apps{
	position: relative;
	background: #fbfbfb;
	overflow: hidden;
}
.apps img{
	width:100%;
}

.mobile-container{
	position: absolute;
	top: 0;
	text-align:center;
	width: 100%;
}
.mobile-container-carousel{
	display: none;
}

.mobile-container .mobiles{
	position: absolute;
	width: 38%;
}

.mobile-container .mobiles img{
	
}

.mobile1{
    top: 60px;
    left: -80px;
}
.mobile2{
    top: -30px;
    left: 26%;
}
.mobile3{
    top: 190px;
    left: 35%;
}
.mobile4{
    top: 90px;
    left: 69%;
}

/* ---- Start: 07.28.2017 ----  */

.app-texts {
	padding-top: 25px; 
	text-align: center;
}

/* ---- End: 07.28.2017 ----  */

.app-texts h1{
	text-align: center;
}

.app-icons {
	width: 15%;
	margin: auto;
}

.app-copy {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 55px;
}

.astore {
	text-align: right;
}

.gplay {
	text-align: left;
}
/* ---- Start: 07.28.2017 ----  */
.astore img{ 
	width: 25%;
}

.gplay img{ 
	width: 25% 
}
/* ---- End: 07.28.2017 ----  */

/* Grid Layout */

.masonry{
	padding-top: 45px;
}

.masonry img{
	width: 100%;
}

.grids {
	width: 100%;
	height: 720px;
	overflow: hidden;
	position: relative;
}

.grids .row{
	margin-right: 0;
	margin-left: 0;
}

.grids div{
	overflow: hidden;
}

.column-grids{
	padding: 0;
}

.grid-left .row{
	height: 50%;
}

.grid-right > div:nth-child(1),
.grid-right > div:nth-child(2){
	height: 100%;
	padding: 0;
}

.grid-blue {
	background: url(../images/grip.png) no-repeat;
	background-size: cover;
	height: 100%;
	overflow: hidden !important;
	display: block;
	border-right: 15px solid #fff;
	border-bottom: 15px solid #fff;
}

.grid-yellow {
	background: url(../images/crankset.png) no-repeat;
	background-size: cover;
	height: 100%;
	border-right: 15px solid #fff;
	border-bottom: 15px solid #fff;
}

.grid-sky {
	background: url(../images/headset.png) no-repeat;
	background-size: cover;
	height: 100%;
	border-right: 15px solid #fff;
}

.grid-green{
	background: url(../images/fork.png) no-repeat;
	background-size: cover;
	height: 75%;
	border-right: 15px solid #fff;
	border-bottom: 15px solid #fff;
}

.grid-neon{
	background: url(../images/frame.png) no-repeat;
	background-size: cover;
	height: 25%;
	border-right: 15px solid #fff;
}

.grid-grey{
	background: url(../images/stem.png) no-repeat;
	background-size: cover;
	height: 100%;
}

.bottom-grid {
}

.p1 p, .p2 p{
	min-height: 120px;
}
/* ---- Start: 07.28.2017 ---- */
.p1 h3, 
.p2 h3{
  width: auto;
  border-radius: 30px;
  border: 2px solid #3c3533;
  display: inline-block;
  padding: 5px 10px;
}
/* ---- End: 07.28.2017 ---- */

.p1 h1,
.p2 h1{
	white-space: nowrap;
	font-size: 2.7em;
}

.p2{
    /*padding-left: 100px;*/
}

/* Price */

.prices{
	background:#f4f4f4;
	position: relative;
	padding: 45px 0 105px;
}

.feel{
	width: 15%;
	margin: auto;
	position: absolute;
	top: 0;
}
.feel img{
	width: 100%;
}

/* ---- Start: 07.28.2017 ---- */

.price-container{
	border-top: 5px solid #3c3533;
	width: 75%;
	margin-top: 55px;
	padding-top: 95px;
}

/* ---- End: 07.28.2017 ---- */

.build-yours {
	padding: 10px 20px;
	border: 2px solid #10dfee;
	border-radius: 34px;
}

.build-yours:hover {
	background :#10dfee;
	color: #fff !important;
	text-decoration: none;
}

.price-tabs{
	display: none;
}

/* Footer */
.subscribe,
.social-links,
.zip{
	margin: auto;
}

.social-links{
	padding-top: 45px;
}

.social-links .white-text{
	font-size: 12px;
}
.footer-links{
	padding: 45px;
	background: #3d4c50;
}
.footer-logo{
	width: 70px;
}
.footer-copy{
	margin: auto;
	padding:20px; 
}
.footer-copy div:nth-child(1){
	font-size: 12px;
	padding-left: 0;
}
.footer-copy div:nth-child(2){
	text-align: right;
	padding-right: 0;
}
.footer-copy div:nth-child(2) .selectpicker{
	padding: 0;
}

.footer-copy .filter-option{
	color: #fff !important;
}
.copyright{
	background: #313d41;
	margin: 0 !important;
	height: 60px;
}
footer .dropdown-menu{
	top: -70px;
}

footer{
	position: relative;
}

.newsletter {
  overflow: hidden;
  height: 54px;
  width: 510px;
  margin: 0 auto;
  position: relative;
}
.newsletter input {
  width: 100%;
  border: 1px solid white;
  border-radius: 24px;
  height: 50px;
  padding: 10px 0 10px 25px;
  text-transform: uppercase;
  outline: none;
  -moz-transition: border 0.2s ease;
  -o-transition: border 0.2s ease;
  -webkit-transition: border 0.2s ease;
  transition: border 0.2s ease;
  color: #c0c0c0;
}
.newsletter input:focus {
  border: 1px solid #999;
}
.newsletter input:focus + button {
  background-color: #4fcbe5;
}
.newsletter button {
  position: absolute;
  z-index: 999;
  right: 5px;
  top: 5px;
  height: 40px;
  border: none;
  background-color: #10dfee;
  -moz-transition: background-color 0.3s ease, width 0.3s ease;
  -o-transition: background-color 0.3s ease, width 0.3s ease;
  -webkit-transition: background-color 0.3s ease, width 0.3s ease;
  transition: background-color 0.3s ease, width 0.3s ease;
  color: white;
  padding: 0;
  margin: 0;
  border-radius: 24px;
  text-transform: uppercase;
  width: 140px;
  text-align: center;
  cursor: pointer;
}

.newsletter button:visited,
.newsletter button:focus{
	outline: 0;
}

.social{
	text-align: right;
}
.social li{
	margin-left: 10px;
	width: 30px;
}

.mobile-lang,
.grids.mobile{
	display: none;
}

#mobile-menu{
	/*position: fixed;*/
	top: 0;
	z-index: 2000;
	background: #ffffff;
	width: 100%;
	height: 0;
	/*margin-top: 70px;*/
	padding:0 35px;
	overflow: hidden;
	-webkit-transition: all .25s ease-out;
	   -moz-transition: all .25s ease-out;
	    -ms-transition: all .25s ease-out;
	     -o-transition: all .25s ease-out;
	        transition: all .25s ease-out;
}

#mobile-menu .menu{
    padding: 15px 0 0 0;
}
#mobile-menu .menu a{
    font-size: 1.2em;
}

.open-menu{
	position: fixed;
    height: auto !important;			/* Edited by Troi */
	padding-bottom: 10px !important;	/* Added by Troi */
}
.mobile-ebikes-dropdown{
display: none;
}

/* Bootstrap Overrides */
.row{
	margin-right: 0;
	margin-left: 0;
}

.navbar{
	padding-top: 9px;
	-webkit-transition: all .5s ease-out ;
	-moz-transition: all .5s ease-out ;
	-ms-transition: all .5s ease-out ;
	-o-transition: all .5s ease-out ;
	transition: all .5s ease-out ;
}
.selectpicker{
	padding-top: 20px;
	font-size: 12px;
	padding-right: 0 !important;
	padding-left: 0;
}
.selectpicker .caret{
	display: none;
}
.navbar-brand{
	position: relative;
	width: 90px;
}
.navbar-brand img{
	width: 100%;
}
.navbar-default{
	background-color: transparent;
	border: none;
	padding-top: 9px;
}
.btn-default{
	background: none;
	border: none;
}
.btn-default:hover,
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover,
.btn-group.open .dropdown-toggle{
	background: none;
	box-shadow: 0 0 0;
	outline: 0;
}

.dropdown-menu{
	border: none;
	border-radius: 0;
}

.dropdown-menu i{
	display: none;
}

.bootstrap-select.btn-group .dropdown-menu li>a,
.bootstrap-select.btn-group .dropdown-menu li.selected>a{
	background: #fff !important;
	border: none !important;
	box-shadow: 0 0 0 !important;
	outline: 0;
}

.carousel-indicators{
	bottom: -135px;
}

.carousel-indicators li{
	width: 10%;
	height: 1px;
	opacity:.3;
} 

.carousel-indicators .active{
	width: 10%;
	height: 1px;
	opacity:1;
}
.navbar-fixed-top.shrink{
	background-color: #ffffff !important; 
	padding-top: 0; 
}


/* --- Book Test Ride Page --- */

#page-book .hero{
	min-height: 80%;
}

#page-book .hero-carousel img{
	width: 50%;
	margin: auto;
}
#page-book header{
	background: rgb(66,234,157) url(../images/hero-bg.png) no-repeat center top;
	background: -moz-linear-gradient(top, rgba(66,234,157,1) 0%, rgba(54,255,165,1) 100%) url(../images/hero-bg.png) no-repeat center top;
	background: -webkit-linear-gradient(top, rgba(66,234,157,1) 0%,rgba(54,255,165,1) 100%) url(../images/hero-bg.png) no-repeat center top;
	background: linear-gradient(to bottom, rgba(66,234,157,1) 0%,rgba(54,255,165,1) 100%) url(../images/hero-bg.png) no-repeat center top;
	background-size: 35%;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42ea9d', endColorstr='#36ffa5',GradientType=0 );
	padding-bottom: 0;
}

#page-book .masonry{
	padding-top: 0;
}

.header-title h1{
	position: absolute;
	top: 0;
	padding: 15px;
	margin-top: 85px;
}

.how-it-works {
	padding-top: 45px;
	padding-bottom: 45px;
	text-align: center;
	background: #f4f3f3;
}

.how-it-works-mobile{ /* <<-- Added for mobile */
	display: none;
}

.how-it-works div{
	padding: 0;
}

.how-it-works h1{
	text-align: center;
	margin-bottom: 20px;
	/* font-size: 4.5em !important; */ /* <<-- August 1, 2017 */

}

.how-it-works-icons img{
	width: 20%;
}

.thumbnail{
	border: none;
	background-color: #f4f3f3;
}

.thumbnail .caption{
	padding-top: 0 !important;
}
.thumbnail .caption p{
	font-size: 12px !important;
}

.zipcode {
  overflow: hidden;
  height: 50px;
  width: 550px;
  margin: 0 auto;
  position: relative;
}
.zipcode input {
  text-align: center;
  width: 100%;
  border: 1px solid white;
  border-radius: 24px;
  height: 50px;
  padding: 20px 0 20px 0;
  text-transform: uppercase;
  outline: none;
  -moz-transition: border 0.2s ease;
  -o-transition: border 0.2s ease;
  -webkit-transition: border 0.2s ease;
  transition: border 0.2s ease;
  color: #c0c0c0;
}
.zipcode input:focus {
  border: 1px solid #999;
}
.zipcode input:focus + button {
  background-color: #4fcbe5;
}
.zipcode button {
  position: absolute;
  z-index: 999;
  right: 5px;
  top: 5px;
  height: 40px;
  border: none;
  background-color: #10dfee;
  -moz-transition: background-color 0.3s ease, width 0.3s ease;
  -o-transition: background-color 0.3s ease, width 0.3s ease;
  -webkit-transition: background-color 0.3s ease, width 0.3s ease;
  transition: background-color 0.3s ease, width 0.3s ease;
  color: white;
  padding: 0;
  margin: 0;
  border-radius: 24px;
  text-transform: uppercase;
  width: 40px;
  text-align: center;
  cursor: pointer;
}

.zipcode button i{
	font-size: 18px;
}

.zipcode button:visited,
.zipcode button:focus{
	outline: 0;
}

.forms{
	background: #f4f3f3;
}
.form-tab{}
.form-tab .nav-tabs{
	width: 45%;
	margin:auto;
	border-bottom: none;
	padding-bottom: 45px;
}

/* ---- Start: 07.30.2017 ----  */
.page-id-5489 .forms .nav-tabs,
.page-id-5489 .zipcode {
	width: 470px;
}
/* ---- Start: 07.30.2017 ----  */


.form-tab .nav-tabs li{
	text-align: center;
	text-transform: uppercase;
	padding: 0;
}

.form-tab .nav-tabs li a{
	white-space: nowrap;
	text-align: center;
	border-radius: 40px;
	border: none;
	border-radius: 40px;
	border: 2px solid #1ceafa;
	padding-top: 15px;
	padding-bottom: 15px;
	opacity: 1;
}

.form-tab .nav-tabs li.no-border{
	font-size: 1.2em;
}

.form-tab .nav-tabs>li.active>a, 
.form-tab .nav-tabs>li.active>a:focus, 
.form-tab .nav-tabs>li.active>a:hover{
	border: 2px solid #ffffff;
	color: #3c3533 !important;
}

.form-tab .tab-content{

}

.form-tab .tab-content.open{
	/*border-top: 10px solid #ffffff;*/

}

#delivery{
	width: 60%;
	margin: auto;
}
.form-tab .tab-content .form-group label{
	margin-top: 10px;
	margin-bottom: 10px;
}
.form-tab .tab-content .tab-pane form{
	/*margin-bottom: 45px;*/
}

.form-tab .tab-content .tab-pane form input,
.form-tab .tab-content .tab-pane form select{
	/*background: none;*/
	border: none;
	box-shadow: 0 0 0;
}

.form-tab .input-container{
	overflow: hidden;
	background: #ffffff;
	border-radius: 36px;
	position: relative;
}

.form-tab .form-control{
	height: 50px;
	padding-left: 25px;
}
.form-tab .tab-content .tab-pane form select{
	text-indent: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.arrow{
  cursor:pointer;
  height: 45px;
  width: 40px;
  position:absolute;
  top: 5px;
  right: 10px;
  background: url('../images/select-arrow.png') 0 0 no-repeat;
  background-size: 100%;
  pointer-events: none;
}

.border-top-teal.options{
	margin-top: 20px;
	padding-top: 45px;
}

.options h2{
	padding-left: 15px;
}

.form-tab .btn.pill-lg{
	white-space: nowrap;
	text-align: center;
	border-radius: 40px;
	border: none;
	border-radius: 40px;
	border: 2px solid #1ceafa;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 150px;
	text-transform: uppercase;
	color: #1ceafa;
	margin: 25px 15px;
}

.form-tab .btn.pill-lg:hover{
	background: #ffffff;
	border: 1px solid #ffffff;
}

/* Map */

#map{
	background: url(../images/temp-map.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	height: 460px;
}
.mobile-location{ /* <<-- Added for mobile */
	display: none;
}
.location{
	padding-top: 45px;
	padding-bottom: 45px;
}

.location .pill{
	white-space: nowrap;
	text-align: center;
	border-radius: 40px;
	border: none;
	border-radius: 40px;
	border: 2px solid #1ceafa;
	padding:15px 25px;
	width: 250px;
	text-transform: uppercase;
	color: #1ceafa;
	margin: 25px 15px;
}

.location .pill:hover{
	background: #ffffff;
	border: 1px solid #ffffff;
	text-decoration: none;
}

.location h4{
	margin: 7px 0;
	font-size: 1.2em;
}
.location .col-md-3:last-child{
	text-align: center;
}
.sup{
	font-size: 16px; 
	font-weight: normal; 
	vertical-align: top;
}

.mfp-gallery{
	z-index: 1000;
}

/* -------------------------------
# Troi 08.17.2017
------------------------------- */
#top.page-id-8784 .form-tab .nav-tabs {
	display: flex;
}


#top.page-id-8784 .form-tab .nav-tabs li:first-of-type,
#top.page-id-8784 .form-tab .nav-tabs li:last-of-type {
	width: 229px;
}


#top.page-id-8784 .form-tab .nav-tabs li:first-of-type *,
#top.page-id-8784 .form-tab .nav-tabs li:last-of-type * {
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
}

#top.page-id-8784 .form-tab .nav-tabs li:first-of-type a,
#top.page-id-8784 .form-tab .nav-tabs li:last-of-type a {
	padding: 15px 12px !important;
}


/* -------------------------------
# Troi 08.25.2017
------------------------------- */
#top.page-id-207 .form-row label.checkbox {
	display: flex !important;
	align-items: center;
}
#top.page-id-207 .woocommerce-form__label-for-checkbox > * {
	position: static;
}

#top.page-id-207 .form-row .input-checkbox {
    margin: 0 8px 0 0 !important;
}
